#include <dt-bindings/zmk/stp.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        #include "macros.dtsi"
      #include "version.dtsi"

        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick_tap_ms = <175>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Base";
            bindings = <
&kp EQUAL  &kp N1       &kp N2          &kp N3              &kp N4            &kp N5  &bootloader                                                &bootloader  &kp N6  &kp N7             &kp N8               &kp N9           &kp N0         &kp MINUS
&kp TAB    &kp Q        &kp W           &kp F               &kp P             &kp B   &none                                                      &none        &kp J   &kp L              &kp U                &kp Y            &kp SEMICOLON  &kp BSLH
&kp ESC    &hm LCTRL A  &hm LEFT_ALT R  &hm LEFT_COMMAND S  &hm LEFT_SHIFT T  &kp G   &none        &kp LCTRL  &kp LALT      &kp LGUI  &kp RCTRL  &none        &kp M   &hm RIGHT_SHIFT N  &hm RIGHT_COMMAND E  &hm RIGHT_ALT I  &hm RCTRL O    &kp SQT
&kp LSHFT  &kp Z        &kp X           &kp C               &kp D             &kp V                           &to 2         &to 1                             &kp K   &kp H              &kp COMMA            &kp DOT          &kp FSLH       &kp RSHFT
&mo 0      &kp GRAVE    &kp CAPS        &kp LEFT            &kp RIGHT                 &kp BSPC     &kp DEL    &to 1         &to 2     &kp ENTER  &kp SPACE            &kp UP             &kp DOWN             &kp LBKT         &kp RBKT       &mo 0
            >;
        };

        layer_1 {
            bindings = <
&none      &none            &none        &none      &none       &none        &none                                  &none  &none      &none           &none         &none                 &none                  &none
&kp TILDE  &kp EXCLAMATION  &kp AT_SIGN  &kp HASH   &kp DOLLAR  &kp PERCENT  &none                                  &none  &kp CARET  &kp AMPERSAND   &kp ASTERISK  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &none
&none      &none            &none        &kp LA(B)  &kp LA(T)   &none        &none  &none  &none      &none  &none  &none  &none      &kp UNDERSCORE  &kp PLUS      &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp PIPE
&none      &none            &none        &none      &none       &none                      &none      &none                &none      &none           &none         &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &none
&none      &none            &none        &none      &none                    &none  &none  &none      &to 3  &none  &none             &none           &none         &none                 &none                  &none
            >;
        };

        layer_2 {
            bindings = <
&none      &none         &none         &none         &none         &none         &none                                  &none  &none         &none         &none         &none             &none              &none
&kp GRAVE  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp NUMBER_5  &none                                  &none  &kp NUMBER_6  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9      &kp NUMBER_0       &none
&none      &none         &none         &none         &none         &none         &none  &none  &none      &none  &none  &none  &none         &kp MINUS     &kp EQUAL     &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp BACKSLASH
&none      &none         &none         &none         &none         &none                       &none      &none                &none         &none         &none         &none             &none              &none
&none      &none         &none         &none         &none                       &none  &none  &to 3      &none  &none  &none                &none         &none         &none             &none              &none
            >;
        };

        layer_3 {
            bindings = <
&none  &none  &none  &none  &none  &none  &none                                  &none  &none           &none           &none         &none            &none  &none
&none  &none  &none  &none  &none  &none  &none                                  &none  &none           &none           &none         &none            &none  &none
&none  &none  &none  &none  &none  &none  &none  &none  &none      &none  &none  &none  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT_ARROW  &none  &none
&none  &none  &none  &none  &none  &none                &none      &none                &none           &none           &none         &none            &none  &none
&none  &none  &none  &none  &none         &none  &none  &none      &none  &none  &none                  &none           &none         &none            &none  &none
            >;
        };
    };
};
