#include <dt-bindings/zmk/stp.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        #include "macros.dtsi"
      #include "version.dtsi"

        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick_tap_ms = <175>;
            flavor = "balanced";
            bindings = <&kp>, <&kp>;
        };

        hmr: hmr {
            compatible = "zmk,behavior-hold-tap";
            label = "HMR";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick_tap_ms = <175>;
            flavor = "balanced";
            bindings = <&kp>, <&kp>;

            hold-trigger-key-positions = <0 0 1 2 3 4 5 6 14 15 16 17 18 19 20 28 29 30 31 32 33 34 35 36 46 47 48 49 50 51 52 60 61 62 63 64 65 66 67>;
            hold-trigger-on-release;
        };

        hml: hml {
            compatible = "zmk,behavior-hold-tap";
            label = "HML";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick_tap_ms = <175>;
            flavor = "balanced";
            bindings = <&kp>, <&kp>;

            hold-trigger-key-positions = <7 8 9 10 11 12 13 21 22 23 24 25 26 27 37 38 39 40 41 42 43 44 45 53 54 55 56 57 58 59 68 69 70 71 72 73 74 75>;
            hold-trigger-on-release;
        };
    };

    macros {
        excla: excla {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_SHIFT>,
                <&macro_tap>,
                <&kp NUMBER_1>,
                <&macro_release>,
                <&kp LEFT_SHIFT>;

            label = "EXCLA";
        };

        at: at {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_SHIFT>,
                <&macro_tap>,
                <&kp NUMBER_2>,
                <&macro_release>,
                <&kp LEFT_SHIFT>;

            label = "AT";
        };

        hash: hash {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_SHIFT>,
                <&macro_tap>,
                <&kp NUMBER_3>,
                <&macro_release>,
                <&kp LEFT_SHIFT>;

            label = "HASH";
        };

        dollar: dollar {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_SHIFT>,
                <&macro_tap>,
                <&kp NUMBER_4>,
                <&macro_release>,
                <&kp LEFT_SHIFT>;

            label = "DOLLAR";
        };

        percent: percent {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_SHIFT>,
                <&macro_tap>,
                <&kp NUMBER_5>,
                <&macro_release>,
                <&kp LEFT_SHIFT>;

            label = "PERCENT";
        };

        caret: caret {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_SHIFT>,
                <&macro_tap>,
                <&kp NUMBER_6>,
                <&macro_release>,
                <&kp LEFT_SHIFT>;

            label = "CARET";
        };

        amp: amp {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_SHIFT>,
                <&macro_tap>,
                <&kp NUMBER_7>,
                <&macro_release>,
                <&kp LEFT_SHIFT>;

            label = "AMP";
        };

        aster: aster {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_SHIFT>,
                <&macro_tap>,
                <&kp N8>,
                <&macro_release>,
                <&kp LEFT_SHIFT>;

            label = "ASTER";
        };

        openparen: openparen {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_SHIFT>,
                <&macro_tap>,
                <&kp NUMBER_9>,
                <&macro_release>,
                <&kp LEFT_SHIFT>;

            label = "OPENPAREN";
        };

        closeparen: closeparen {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_SHIFT>,
                <&macro_tap>,
                <&kp NUMBER_0>,
                <&macro_release>,
                <&kp LEFT_SHIFT>;

            label = "CLOSEPAREN";
        };

        openbrace: openbrace {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_SHIFT>,
                <&macro_tap>,
                <&kp LEFT_BRACKET>,
                <&macro_release>,
                <&kp LEFT_SHIFT>;

            label = "OPENBRACE";
        };

        closebrace: new_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_SHIFT>,
                <&macro_tap>,
                <&kp RIGHT_BRACKET>,
                <&macro_release>,
                <&kp LEFT_SHIFT>;

            label = "NEW_MACRO";
        };

        tilde: tilde {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_SHIFT>,
                <&macro_tap>,
                <&kp GRAVE>,
                <&macro_release>,
                <&kp LEFT_SHIFT>;

            label = "TILDE";
        };

        underscore: underscore {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_SHIFT>,
                <&macro_tap>,
                <&kp MINUS>,
                <&macro_release>,
                <&kp LEFT_SHIFT>;

            label = "UNDERSCORE";
        };

        plus: plus {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_SHIFT>,
                <&macro_tap>,
                <&kp EQUAL>,
                <&macro_release>,
                <&kp LEFT_SHIFT>;

            label = "PLUS";
        };

        pipe: pipe {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_SHIFT>,
                <&macro_tap>,
                <&kp BACKSLASH>,
                <&macro_release>,
                <&kp LEFT_SHIFT>;

            label = "PIPE";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Base";
            bindings = <
&none      &kp N1        &kp N2           &kp N3               &kp N4             &kp N5  &bootloader                                                     &bootloader  &kp N6  &kp N7              &kp N8                &kp N9            &kp N0         &kp MINUS
&kp TAB    &kp Q         &kp W            &kp F                &kp P              &kp B   &none                                                           &none        &kp J   &kp L               &kp U                 &kp Y             &kp SEMICOLON  &kp BSLH
&kp ESC    &hml LCTRL A  &hml LEFT_ALT R  &hml LEFT_COMMAND S  &hml LEFT_SHIFT T  &kp G   &none          &kp LCTRL  &kp LALT       &kp LGUI    &kp RCTRL  &none        &kp M   &hmr RIGHT_SHIFT N  &hmr RIGHT_COMMAND E  &hmr RIGHT_ALT I  &hmr RCTRL O   &kp APOSTROPHE
&kp LSHFT  &kp Z         &kp X            &kp C                &kp D              &kp V                             &mo 2          &mo 1                               &kp K   &kp H               &kp COMMA             &kp DOT           &kp FSLH       &kp RETURN
&mo 0      &kp GRAVE     &kp CAPS         &kp LEFT             &kp RIGHT                  &kp BACKSPACE  &mo 1      &kp ENTER      &kp RETURN  &mo 2      &kp SPACE            &kp UP              &kp DOWN              &kp LBKT          &kp RBKT       &mo 0
            >;
        };

        layer_1 {
            bindings = <
&none      &none   &none  &none      &none      &none     &none                                  &none  &none   &none        &none   &none             &none              &none
&kp TILDE  &excla  &at    &hash      &dollar    &percent  &none                                  &none  &caret  &amp         &aster  &openparen        &closeparen        &none
&none      &none   &none  &kp LA(B)  &kp LA(T)  &none     &none  &none  &none      &none  &none  &none  &none   &underscore  &plus   &openbrace        &closebrace        &kp PIPE
&none      &none   &none  &none      &none      &none                   &none      &none                &none   &none        &none   &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &none
&none      &none   &none  &none      &none                &none  &none  &none      &none  &mo 3  &none          &none        &none   &none             &none              &none
            >;
        };

        layer_2 {
            bindings = <
&none      &none         &none         &none         &none         &none         &none                                  &none  &none         &none         &none         &none             &none              &none
&kp GRAVE  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp NUMBER_5  &none                                  &none  &kp NUMBER_6  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9      &kp NUMBER_0       &none
&none      &none         &none         &none         &none         &none         &none  &none  &none      &none  &none  &none  &none         &kp MINUS     &kp EQUAL     &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp BACKSLASH
&none      &none         &none         &none         &none         &none                       &none      &none                &none         &none         &none         &none             &none              &none
&none      &none         &none         &none         &none                       &none  &mo 3  &none      &none  &none  &none                &none         &none         &none             &none              &none
            >;
        };

        layer_3 {
            bindings = <
&none  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &none                                  &none  &none           &none           &none         &none            &none  &none
&none  &none         &none         &none         &none         &none         &none                                  &none  &none           &none           &none         &none            &none  &none
&none  &none         &none         &none         &none         &none         &none  &none  &none      &none  &none  &none  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT_ARROW  &none  &none
&none  &none         &none         &none         &none         &none                       &none      &none                &none           &none           &none         &none            &none  &none
&none  &none         &none         &none         &none                       &none  &none  &none      &none  &none  &none                  &bl BL_OFF      &bl BL_ON     &none            &none  &none
            >;
        };
    };
};
